.header__app{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    padding: 0 20px;
    background-color: black;
    border-bottom: 1px solid #e6e6e6;
}

.header__app--logo{
    width: 95px;
}