.container__login{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;    
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: all 0.5s;
}

.Login__form{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 90%;
    height: auto;
    padding: 60px 10px;
    max-width: 450px;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgb(255 255 255 / 50%);
}

.Login__form__title{
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-bottom: 10px;
}

.login__form--container{
    position: relative;
    width: 90%;
    height: auto;
    border-radius: 5px;
    background-color: #333333;   
    transition: all 0.5s;
}

.login__form--label{
    position: absolute;
    top: calc(50% - 13px);
    font-size: 1.7rem;
    color: #8c8c8c;
    padding: 5px 0 5px 15px;
    transition: all 0.5s;
}

.login__form--input{
    width: 100%;
    height: 50px;
    padding: 20px 0 0 15px;
    font-size: 1.6rem;
    color: white;
    border: none;
    outline: none;
    transition: all 0.5s;
    background-color: transparent;
}

.login__form--button{
    width: 90%;
    height: 50px;
    margin-top: 40px;
    font-size: 1.6rem;
    color: white;
    border: none;
    outline: none;
    background-color: var(--rojo, red);
    border-radius: 5px;
    transition: all 0.5s;
    cursor: pointer;
}

.login__form--container-remenberme{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 30px;
}

.login__form--container-remenberme input{
    position: absolute;
}

.login__form--label-checkbox{
    color: #8c8c8c;
    font-size: 1.3rem;
    margin-left: 20px;
}


.login__form--create-account{
    font-size: 1.3rem;
    color: #8c8c8c;
    text-decoration: none;
    transition: all 0.5s;
    text-decoration: underline;
    cursor: pointer;
}


.login__form--back-home{
    width: 90%;
    font-size: 1.3rem;
    color: #8c8c8c;
    text-decoration: underline;
    transition: all 0.5s;
    cursor: pointer;
}